[Unit]
Description=HDFS ZKFC

[Service]
User=hdfs
Group=hadoop
Type=forking
PIDFile={{hdfs.pid_dir}}/hadoop-hdfs-zkfc.pid
ExecStart=/usr/hdp/current/hadoop-client/sbin/hadoop-daemon.sh --config {{zkfc.conf_dir}} --script hdfs start zkfc
ExecReload=/usr/hdp/current/hadoop-client/sbin/hadoop-daemon.sh --config {{zkfc.conf_dir}} --script hdfs restart zkfc
ExecStop=/usr/hdp/current/hadoop-client/sbin/hadoop-daemon.sh --config {{zkfc.conf_dir}} --script hdfs stop zkfc

[Install]
WantedBy=multi-user.target
