#!/bin/sh
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#

PHOENIX_HOME=/usr/hdp/current/phoenix-server

BIN_DIR=${PHOENIX_HOME}/bin

PQS_EXEC="HBASE_CONF_DIR={{ryba.phoenix.conf_dir}} ${BIN_DIR}/queryserver.py"

PARAM="$@"

PID_FILE={{ryba.phoenix.pid_dir}}/phoenix-phoenix-server.pid

if [ "${PARAM}" = "status" ]; then
  if [ -f "${PID_FILE}" ]; then
    if ps -p $(<"${PID_FILE}") >/dev/null; then
      echo "Phoenix QueryServer is running"
      exit 0
    else
      echo "Phoenix QueryServer is not running but pidfile exists"
      exit 1
    fi
  else
    echo "Phoenix is not running";
    exit 3
  fi
elif [ "${PARAM}" = "restart" ]; then
  su {{ryba.phoenix.user.name}} -c "${PQS_EXEC} stop"
  su {{ryba.phoenix.user.name}} -c "${PQS_EXEC} start"
else
  su {{ryba.phoenix.user.name}} -c "${PQS_EXEC} $@"
fi
