[Unit]
Description=HBase Rest server

[Service]
User={{hbase.user.name}}
Group={{hbase.group.name}}
PIDFile={{hbase.rest.pid_dir}}/hbase-hbase-rest.pid
ExecStart=/usr/hdp/current/hbase-client/bin/hbase-daemon.sh --config {{hbase.rest.conf_dir}} start rest
ExecReload=/usr/hdp/current/hbase-client/bin/hbase-daemon.sh --config {{hbase.rest.conf_dir}} restart rest
ExecStop=/usr/hdp/current/hbase-client/bin/hbase-daemon.sh --config {{hbase.rest.conf_dir}} stop rest

[Install]
WantedBy=multi-user.target
