{% for b in brokers %}
define broker {
  broker_name         broker_{{ b.config.shortname }}
  address             {{ b.config.host }}
  port                {{ b.config.ryba.shinken.broker.config.port }}
  spare               {{ b.config.ryba.shinken.broker.config.spare }}
  manage_arbiters     {{ b.config.ryba.shinken.broker.config.manage_arbiters }}
  manage_sub_realms   1   {# Does it take jobs from schedulers of sub-Realms?#}
  timeout             3   {# Ping timeout#}
  data_timeout        120 {# Data send timeout#}
  max_check_attempts  3   {# If ping fails N or more, then the node is dead#}
  check_interval      60  {# Ping node every N seconds#}
  {# Modules
  # Default: None
  # Interesting modules that can be used:
  # - simple-log              = just all logs into one file
  # - livestatus              = livestatus listener
  # - ToNdodb_Mysql           = NDO DB support
  # - npcdmod                 = Use the PNP addon
  # - graphite                = Use a Graphite time series DB for perfdata
  # - webui                   = Shinken Web interface
  # - glpidb                  = Save data in GLPI MySQL database
  #}{% if not b.config.ryba.shinken.broker.config.modules | isEmpty %}
  modules             {{ b.config.ryba.shinken.broker.config.modules | join(',') }}{% endif %}
  use_ssl	            {{ b.config.ryba.shinken.broker.config.use_ssl }}
  hard_ssl_name_check {{ b.config.ryba.shinken.broker.config.hard_ssl_name_check }}
  realm               {{ b.config.ryba.shinken.broker.config.realm }}
}
{% endfor %}
