define command {
  command_name    ok
  command_line    /bin/sh -c 'echo "Fake test. Always OK" && exit 0'
}
define command {
  command_name    warning
  command_line    /bin/sh -c 'echo "Fake test. Always WARNING" && exit 1'
}
define command {
  command_name    critical
  command_line    /bin/sh -c 'echo "Fake test. Always CRITICAL" && exit 2'
}
define command {
  command_name    unknown
  command_line    /bin/sh -c 'echo "Fake test. Always UNKNOWN" && exit 3'
}
## Generic commands
define command {
  command_name    check_host
  command_line    $PLUGINSDIR$/check_ping -H $HOSTADDRESS$ -w 3000.0,80% -c 5000.0,100% -p 5
}
define command {
  command_name    check_tcp
  command_line    $PLUGINSDIR$/check_tcp -H $HOSTADDRESS$ -p $ARG1$ -w 7 -c 10 -t 20 $ARG2$
}
define command {
  command_name    check_cert
  command_line    $PLUGINSDIR$/check_tcp -H $HOSTADDRESS$ -p $ARG1$ -D $ARG2$,$ARG3$ -S
}
define command {
  command_name    check_socket
  command_line    $DOCKER_EXEC$ ./check_socket.php -H $HOSTADDRESS$ -p $ARG1$ -m $ARG2$ -r $ARG3$ $ARG4$
}
## Multi Service commands
define command {
  command_name    check_tcp_ha
  command_line    $DOCKER_EXEC$ ./service_status.php -H {{ brokers }} -p 50000 -d $ARG1$ -f "host_groups >= $HOSTNAME$" -u | xargs -I % $PLUGINSDIR$/check_tcp -H % -p $ARG2$ -w 1 -c 1 $ARG3$
}
define command {
  command_name    check_rpc_latency
  command_line    $DOCKER_EXEC$ ./check_rpc_latency.php -H $HOSTNAME$ -n $ARG1$ -p $ARG2$ -w $ARG3$ -c $ARG4$ $ARG5$
}
define command {
  command_name    check_rpc_latency_ha
  command_line    $DOCKER_EXEC$ ./service_status.php -H {{ brokers }} -p 50000 -d $ARG1$ -f "host_groups >= $HOSTNAME$" -u | xargs -I % $DOCKER_EXEC$ ./check_rpc_latency.php -H % -n $ARG2$ -p $ARG3$ -w $ARG4$ -c $ARG5$ $ARG6$
}
## Service-Specific commands
define command{
  command_name    check_mysql
  command_line    $DOCKER_EXEC$ ./check_mysql_health --hostname $HOSTNAME$:$ARG1$ --username $ARG5$ --password $ARG6$ --mode $ARG2$ --warning $ARG3$ --critical $ARG4$
}
define command {
  command_name    check_zk_stat
  command_line    $DOCKER_EXEC$ ./check_zk_stat.php -H $HOSTADDRESS$ -p $ARG1$ -f $ARG2$ -w $ARG3$ -c $ARG4$ $ARG5$
}
define command {
  command_name    check_hdfs_state
  command_line    $DOCKER_EXEC$ ./check_hdfs_state.php -H $HOSTNAME$ -p $ARG1$ -j $ARG2$ -f $ARG3$ -w $ARG4$ -c $ARG5$ $ARG6$
}
define command {
  command_name    check_active_nn
  command_line    $DOCKER_EXEC$ ./check_active_nn.php -H {{ brokers }} -p 50000 -C $HOSTNAME$ -P $ARG1$ $ARG2$
}
define command {
  command_name    check_nn_last_checkpoint
  command_line    $DOCKER_EXEC$ ./check_nn_last_checkpoint.php -H $HOSTNAME$ -p $ARG1$ -d $ARG2$ -x $ARG3$ -w $ARG4$ -c $ARG5$ $ARG6$
}
define command {
  command_name    check_nn_namedirs_status
  command_line    $DOCKER_EXEC$ ./check_nn_namedirs_status.php -H $HOSTNAME$ -p $ARG1$ $ARG2$
}
define command {
  command_name    check_hdfs_capacity
  command_line    $DOCKER_EXEC$ ./check_hdfs_capacity.php -H $HOSTNAME$ -p $ARG1$ -w $ARG2$ -c $ARG3$ $ARG4$
}
define command {
  command_name    check_dn_storage
  command_line    $DOCKER_EXEC$ ./check_dn_storage.php -H $HOSTNAME$ -p $ARG1$ -w $ARG2$ -c $ARG3$ $ARG4$
}
define command {
  command_name    check_active_rm
  command_line    $DOCKER_EXEC$ ./check_active_rm.php -H {{ brokers }} -p 50000 -C $HOSTNAME$ -P $ARG1$ $ARG2$
}
define command {
  command_name    check_nm_info
  command_line    $DOCKER_EXEC$ ./check_nm_info.php -H $HOSTNAME$ -p $ARG1$ -f $ARG2$ -r $ARG3$ $ARG4$
}
## User/ryba-defined commands
{% for name, command in commands %}
define command{
  command_name    {{ name }}
  command_line    {{ command }}
}
{% endfor %}