{% for name, group in contactgroups %}
define contactgroup {
  contactgroup_name    {{ name }}
  alias                {{ group.alias }}{% if not group.members | isEmpty %}
  members              {{ group.members | join(',') }}{% endif %}{% if not group.contactgroup_members | isEmpty %}
  contactgroup_members {{ group.contactgroup_members | join(',') }}{% endif %}
}
{% endfor %}
