{% for name, contact in contacts %}
define contact{
  contact_name                  {{ name }}
  alias                         {{ contact.alias }}{% if not contact.contactgroups | isEmpty %}
  contactgroups                 {{ contact.contactgroups | join(',') }}{% endif %}
  host_notifications_enabled    {{ contact.host_notifications_enabled }}
  service_notifications_enabled {{ contact.service_notifications_enabled }}
  host_notifications_period     {{ contact.host_notifications_period }}
  service_notifications_period  {{ contact.service_notifications_period }}
  host_notifications_options    {{ contact.host_notifications_options }}
  service_notifications_options {{ contact.service_notifications_options }}
  host_notifications_command    {{ contact.host_notifications_command }}
  service_notifications_command {{ contact.service_notifications_command }}{% if contact.email %}
  email                         {{ contact.email }}{% endif %}{% if contact.pager %}
  pager                         {{ contact.pager }}{% endif %}{% if contact.address1 %}
  address1                      {{ contact.address1 }}{% endif %}{% if contact.address2 %}
  address2                      {{ contact.address2 }}{% endif %}{% if contact.address3 %}
  address3                      {{ contact.address3 }}{% endif %}{% if contact.address4 %}
  address4                      {{ contact.address4 }}{% endif %}{% if contact.address5 %}
  address5                      {{ contact.address5 }}{% endif %}{% if contact.address6 %}
  address6                      {{ contact.address6 }}{% endif %}{% if contact.can_submit_commands %}
  can_submit_commands           {{ contact.can_submit_commands }}{% endif %}{% if contact.is_admin %}
  is_admin                      {{ contact.is_admin }}{% endif %}{% if contact.retain_status_information %}
  retain_status_information     {{ contact.retain_status_information }}{% endif %}{% if contact.retain_nonstatus_information %}
  retain_nonstatus_information  {{ contact.retain_nonstatus_information }}{% endif %}{% if contact.min_business_impact %}
  min_business_impact           {{ contact.min_business_impact }}{% endif %}
}
{% endfor %}
