{% for name, group in contactgroups %}
define contactgroup {
  contactgroup_name  {{ name }}
  alias              {{ group.alias }}
  members            {{ group.members | join (",") }}
}{% endfor %}
