{% for hostname, host in hosts %}{% if host.hostgroups %}
{% if host.hostgroups | contains('watcher') %}
{% if host.modules | contains('zookeeper_server') %}
{% if host.modules | contains('hdfs_nn') %}
define servicedependency {
  service_description           Zookeeper Server - Available
  dependent_service_description HDFS NN - Available
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.modules | contains('hiveserver2') %}
define servicedependency {
  service_description           Zookeeper Server - Available
  dependent_service_description Hiveserver2 - Available
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.modules | contains('yarn_rm') %}
define servicedependency {
  service_description           Zookeeper Server - Available
  dependent_service_description YARN RM - Available
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.modules | contains('hbase_master') %}
define servicedependency {
  service_description           Zookeeper Server - Available
  dependent_service_description HBase Master - Available
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% endif %}

{% if host.modules | contains('yarn_rm') %}
define servicedependency {
  service_description           YARN RM - Active Node
  dependent_service_description YARN RM - TCP SSL
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           YARN RM - Active Node
  dependent_service_description YARN RM - Scheduler TCP
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           YARN RM - Active Node
  dependent_service_description YARN RM - Tracker TCP
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           YARN RM - Active Node
  dependent_service_description YARN RM - RPC latency
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% endif %}

{% if host.hostgroups | contains('zookeeper_server') %}
define servicedependency {
  service_description           Zookeeper Server - TCP
  dependent_service_description Zookeeper Server - State
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           Zookeeper Server - TCP
  dependent_service_description Zookeeper Server - Connections
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('hdfs_nn')%}
define servicedependency {
  service_description           HDFS NN - WebService
  dependent_service_description HDFS NN - RPC latency
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           HDFS NN - WebService
  dependent_service_description HDFS NN - Certificate
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           HDFS NN - WebService
  dependent_service_description HDFS NN - Last Checkpoint
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           HDFS NN - WebService
  dependent_service_description HDFS NN - Name Dir status
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           HDFS NN - WebService
  dependent_service_description HDFS NN - Utilization
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           HDFS NN - WebService
  dependent_service_description HDFS NN - Under-Replicated Blocks
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('zkfc') %}
define servicedependency {
  service_description           Zookeeper Server - Available
  dependent_service_description ZKFC - TCP
  host_name                     {{ host.custom_properties.cluster }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('hdfs_jn') %}
define servicedependency {
  service_description           HDFS JN - TCP SSL
  dependent_service_description HDFS JN - Certificate
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('hdfs_dn') %}
define servicedependency {
  service_description           HDFS NN - Available
  dependent_service_description HDFS DN - TCP SSL
  host_name                     {{ host.custom_properties.cluster }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           HDFS DN - TCP SSL
  dependent_service_description HDFS DN - Certificate
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           HDFS DN - TCP SSL
  dependent_service_description HDFS DN - Available space
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('hbase_master') %}
define servicedependency {
  service_description           HBase Master - WebUI
  dependent_service_description HBase Master - Certificate
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('hbase_rest') %}
define servicedependency {
  service_description           HBase REST - TCP SSL
  dependent_service_description HBase REST - Certificate
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('hiveserver2') %}
define servicedependency {
  service_description           Hcatalog - Available
  dependent_service_description Hiveserver2 - TCP SSL
  host_name                     {{ host.custom_properties.cluster }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
define servicedependency {
  service_description           Hiveserver2 - TCP SSL
  dependent_service_description Hiveserver2 - Certificate
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('oozie_server') %}
define servicedependency {
  service_description           Oozie Server - WebUI
  dependent_service_description Oozie Server - Certificate
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('opentsdb') %}
define servicedependency {
  service_description           HBase Master - Available
  dependent_service_description OpenTSDB - WebService
  host_name                     {{ host.custom_properties.cluster }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('hue') %}
define servicedependency {
  service_description           Hue - WebUI
  dependent_service_description Hue - Certificate
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% if host.hostgroups | contains('knox') %}
define servicedependency {
  service_description           Knox - WebService
  dependent_service_description Knox - Certificate
  host_name                     {{ hostname }}
  dependent_host_name           {{ hostname }}
  inherits_parent               1
  execution_failure_criteria    c,u,p
  notification_failure_criteria c,u,p
}
{% endif %}
{% endif %}{% endfor %}