{% for name, host in hosts %}
define host {
  host_name                 {{ name }}
  alias                     {{ host.shortname }}
  use                       linux-server
  address                   {{ host.ip }}
  check_interval            0.25
  retry_interval            0.25
  max_check_attempts        4
  notifications_enabled     1
  first_notification_delay  0
  notification_interval     1440
  notification_options      d,u,r
}{% endfor %}
