{% for name, host in hostgroups %}
define hostgroup {
  hostgroup_name  {{ name }}
  alias           {% if host.alias %}{{ host.alias }}{% else %}{{ name }}{% endif %}
  members         {% if host.members | isArray %}{{ host.members | join(',') }}{% elif host.members %}{{ host.members }}{% endif %}{% if host.realm %}
  realm           {{ host.realm }}{% endif %}
}{% endfor %}
