
define module {
   module_name     {{ name }}
   module_type     {{ type }}
   {% for prop, value in config %}{% if not value | isEmpty %}
   {{ prop }}      {% if value | isArray %}{{ value | join (',') }}{% else %}{{ value }}{% endif %}{% endif %}{% endfor %}
}
