{% for name, realm in realms %}
define realm {
  realm_name      {{ name }}{% if not realm.members| isEmpty %}
  realm_members   {{ realm.members | join(',') }}{% endif %}
  default         {{ realm.default }}
}
{% endfor %}
