{% for s in schedulers %}
define scheduler {
  scheduler_name      scheduler_{{ s.config.shortname }}
  address             {{ s.config.host }}
  port                {{ s.config.ryba.shinken.scheduler.config.port }}
  spare               {{ s.config.ryba.shinken.scheduler.config.spare }}

  weight              1{#   Some schedulers can manage more hosts than others #}
  timeout             3{#   Ping timeout #}
  data_timeout        120{# Data send timeout #}
  max_check_attempts  3{#   If ping fails N or more, then the node is dead #}
  check_interval      60{#  Ping node every N seconds #}
  {% if not s.config.ryba.shinken.scheduler.config.modules | isEmpty %}
  modules             {{ s.config.ryba.shinken.scheduler.config.modules | join(',') }}{% endif %}
  {# Skip initial broks creation. Boot fast, but some broker modules won't work with it!#}
  skip_initial_broks  0
  {# In NATted environments, you declare each satellite ip[:port] as seen by
  # *this* scheduler (if port not set, the port declared by satellite itself
  # is used)
  #satellitemap    poller-1=1.2.3.4:1772, reactionner-1=1.2.3.5:1773, ...
  #}
  use_ssl             {{ s.config.ryba.shinken.scheduler.config.use_ssl }}
  hard_ssl_name_check {{ s.config.ryba.shinken.scheduler.config.hard_ssl_name_check }}
  realm               {{ s.config.ryba.shinken.scheduler.config.realm }}
}
{% endfor %}
